<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="TakeAlotProject">
<listeners>
<listener class-name="listeners.Listeners"/>
</listeners>

	<test thread-count="5" name="Test">
	 <classes>  
			<class name="takealotproject.DailyDealsTests" >
			<methods>
				<include name="GIVEN_Customer_Clicks_On_DailyDealsButton_THEN_All_Available_Deals_Should_Be_Displayed" />
				<include name="Assert_That_There_Are_More_Than_0_Items_Displayed" />
				<include name="GIVEN_There_Is_Less_Than_One_SelectedItem_Displayed_THEN_Skip_The_TestCase" />
				<include name="GIVEN_First_Item_Is_Selected_THEN_Add_To_Cart_Button_Must_Be_Displyed" />
				<include name="GIVEN_First_Item_Is_Selected_THEN_Add_Item_To_Cart" />
				<include name="Assert_That_AddedToCart_Appears" />
				<include name="GIVEN_A_Customer_Has_Added_An_Item_In_Cart_THEN_Click_Go_To_Cart_Button" />
				<include name="GIVEN_A_Customer_Has_Added_An_Item_In_Cart_AND_Click_Go_To_Cart_Button_THEN_Select_2_Items_As_Quantity" />

			</methods>
			</class>
		</classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
